In [1]:
import pandas as pd

In [33]:
tabela = 'STG_OPR_ITT.xlsx'

dados_principais = pd.read_excel(tabela)

In [27]:
def linha():
    print('\033[34m', end = '')
    print('-' * 60, '\033[m')

In [35]:
nome_colunas = dados_principais.columns

In [72]:
linhas = dados_principais.shape[0]
colunas = dados_principais.shape[1]

linha()

print(f'A tabela {tabela} tem {linhas} linhas e {colunas} colunas.')

linha()

print('Contendo as colunas: ')
for count, coluna in enumerate(nome_colunas): 
    print(f'{count} - {coluna}')
    
linha()

------------------------------------------------------------
A tabela STG_OPR_ITT.xlsx tem 891 linhas e 11 colunas.
------------------------------------------------------------
Contendo as colunas:
0 - ID_STG_OPR_ITT
1 - VLR_CTRD_CSC
2 - QTD_PCL
3 - VLR_SDO_DDR
4 - QTD_CLI_CAD_POS
5 - QTD_OPR
6 - ID_FNT_ITT
7 - ID_MDL
8 - DES_TIP_PSS
9 - DAT_RSS_FNT_ITT
10 - DAT_INC_DBO
------------------------------------------------------------

In [123]:
dados_principais['ID_MDL'].drop_duplicates().sort_values()

9      A01
0      A04
32     A05
12     A99
17     B01
3      B03
2      B05
273    B06
218    B07
1      B99
6      C01
261    F01
860    G01
Name: ID_MDL, dtype: object

In [129]:
dados_principais['ID_MDL'].duplicated().sum()

878

In [126]:
dados_principais['ID_MDL'].value_counts(ascending = True)

G01      1
F01      1
B07      2
B06      4
B01     19
A05     20
A99     35
B05     71
B99    104
A04    112
A01    122
C01    186
B03    214
Name: ID_MDL, dtype: int64

In [135]:
dados_principais[coluna].drop_duplicates()

0    2020-01-27 10:49:48.15
Name: DAT_INC_DBO, dtype: object

In [137]:
linha()

for coluna in nome_colunas:
    coluna_temp = dados_principais[coluna].drop_duplicates()
    print(f'\033[31m{coluna:^30}\033[m')
    print(f'{"Valores únicos:":>20} {len(coluna_temp.unique())}')
    print(f'{"Valores duplicados:":>20} {coluna_temp.duplicated().sum()}')
    print(f'{"Valores nulos:":>20} {dados_principais[coluna].isnull().sum()}')
    print('\n')

------------------------------------------------------------
        ID_STG_OPR_ITT
     Valores únicos: 891
 Valores duplicados: 0
      Valores nulos: 0


         VLR_CTRD_CSC
     Valores únicos: 187
 Valores duplicados: 0
      Valores nulos: 705


           QTD_PCL
     Valores únicos: 337
 Valores duplicados: 0
      Valores nulos: 0


         VLR_SDO_DDR
     Valores únicos: 187
 Valores duplicados: 0
      Valores nulos: 705


       QTD_CLI_CAD_POS
     Valores únicos: 312
 Valores duplicados: 0
      Valores nulos: 0


           QTD_OPR
     Valores únicos: 317
 Valores duplicados: 0
      Valores nulos: 0


          ID_FNT_ITT
     Valores únicos: 1
 Valores duplicados: 0
      Valores nulos: 0


            ID_MDL
     Valores únicos: 13
 Valores duplicados: 0
      Valores nulos: 0


         DES_TIP_PSS
     Valores únicos: 1
 Valores duplicados: 0
      Valores nulos: 0


       DAT_RSS_FNT_ITT
     Valores únicos: 1
 Valores duplicados: 0
      Valores nulos: 0


         DAT_INC_DBO
     Valores únicos: 1
 Valores duplicados: 0
      Valores nulos: 0